
@{
    ViewBag.Title = "Checkout";
}
<style>
    label {
        color:white;
    }
    </style>

<h2 class="text-center">Checkout</h2>

<div style="width:40%;height:40%;background-color:maroon;margin:auto;">
    @using (Html.BeginForm("Checkout", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div style="padding:10px">
            <div class="form-row">
                <div class="form-group colmd-12">
                    <label for="inputEmail4">Name</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="Name" name="Name">
                </div>
                @*<div class="form-group col-md-6">
                        <label for="inputPassword4"></label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                    </div>*@
            </div>
            <div class="form-row">
                <div class="form-group  col-md-12">
                    <label for="inputAddress">Address</label>
                    <textarea type="text" class="form-control" name="Address1" id="inputAddress" placeholder="Address line 1"></textarea>
                </div>
                <div class="form-group col-md-12">
                    <label for="inputAddress2">Address 2</label>
                    <textarea type="text" class="form-control"  name="Address2" id="inputAddress2" placeholder="Apartment, studio, or floor"></textarea>
                </div>
            </div>

            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>


            <div class="form-group col-md-4">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="form-group col-md-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                </div>
            </div>
            <button class="btn btn-info" style="margin-left:18px"> <span class="glyphicon glyphicon-credit-card"></span> Checkout</button>
        </div>
    }
    </div>
    
   

